/* Estilos generales */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.containerVideo {
  width: 560px;
  height: 315px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.container-about {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Estilos del encabezado */

.container-nav {
  background-image: url(img/cover.jpg);
  background-size: contain;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.img-container{
  
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.img-containerServices{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}
.img-containerServices>img{
  border-radius: 10px;
  height: 200px;
}

.listaServices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}

.Mylogo img {
  max-width: 200px;
  height: auto;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  color: rgb(186, 119, 250);
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Estilos del contenido principal */

h1, h2, p {
  margin: 20px;
  padding: 10px;
}

.container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container-services h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container-services p {
  margin-bottom: 20px;
}

.containerVideo video {
  max-width: 100%;
  height: auto;
}

/* Estilos del formulario */

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  align-items: center;
}

form label {
  margin-bottom: 10px;
}

form input[type="name"], form input[type="email"]{
  width: 300px;
  height: 30px;
  margin: 10px;
  padding: 10px;
}
form input[type="message"],
form textarea {
  width: 400px;
  height: 200px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Estilos del pie de página */

footer {
  background-color: black;
  max-height: 100px;
  padding: 20px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
}
footer>p{
  color: #f0f0f0;
}


/* Cambiar el color de fondo del encabezado en pantallas pequeñas */
@media (max-width: 767px) {
  header {
    background-color: #333;
  }
}

/* Cambiar el tamaño de fuente de la navegación en pantallas pequeñas */
@media (max-width: 767px) {
  nav {
    font-size: 16px;
  }
}

/* Establecer el ancho máximo del encabezado en 1200px */
@media (max-width: 1200px) {
  header {
    width: 1200px;
  }
}
