.container-nav {
  display: flex;
  flex-direction: column;
  background-image: url(img/cover.jpg);
  background-size: contain;
  background-position: center;
  height: 300px;
  width: 100%;
  color: #fff;
  text-align: right;
}

.greeting {
  text-align: center;
}

.Mylogo {
  display: flex;
  justify-content: space-between;
}

.Mylogo>img {
  width: 85px;
  height: 85px;
  border-radius: 30px;
  margin-top: 3%;
  padding: 25px;
}

/*para darle un estilo de lista y quitarle los márgenes predeterminados*/
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
}


/* se muestren en línea y se separen entre sí*/
nav li {
  display: inline-block;
  margin-right: 20px;
}

/*estilos a los enlaces <a> para darles un color y un estilo al pasar el cursor por encima*/
nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  color: rgb(186, 119, 250);
}

main {
  display: flexbox;
  justify-content: center;
  margin: 20px;
}


.container {
  display: grid;
  justify-content: flex-start;
}

h1 {
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
}

h2>p {
  padding: auto;
  margin: auto;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 300px;
  height: 300px;
}

.containerVideo {
  width: 560px;
  height: 315px;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}

footer {
  background-color: black;
  display: flexbox;
  justify-content: center;
  height: max-content 200px;
}

footer>p {
  color: #fff;
  display: flex;
  justify-content: center;
}

footer>div>img {
  height: 80px;
}




/*cambiar el color de fondo del encabezado en pantallas pequeñas*/
@media (max-with: 767px) {
  header {
    background-color: #333;
  }
}

@media (max-with: 767px) {
  nav {
    font-size: 16px;
  }
}

@media (max-with: 1200px) {
  header {
    width: 1200px;
  }
}